<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="SamsungPass.Android">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21" />
	<application android:label="SamsungPass Example" android:icon="@drawable/icon">
	</application>

	<!-- Samsung Pass permission -->
	<uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
</manifest>